body,
button,
select,
input,
textarea {
  @include font-smoothing(on);
  text-rendering: optimizeLegibility;
  // font-family: ;
  // line-height: ;
}

.body--text {
  font-family: "ff-tisa-web-pro",serif;
  font-weight: normal;
  margin: rem(25px) 0px;
  letter-spacing:0.1px;
}

.title--text{
  font-family: "source-sans-pro",sans-serif;
  font-weight: bold;
}

.text--small{
  font-family: "source-sans-pro",sans-serif;
  font-weight: normal;
}

a:not(.no-underline){
  color:$black;
  border-bottom: 3px solid $accent;
  box-shadow: inset 0 -5px 0 $accent;
  transition: background .15s cubic-bezier(.33,.66,.66,1);
  &:hover{background: $accent;}
}
