// Type
//------------------------------------------------------------------------------

$base-font-size: 21px; // Used to set intial rem scale in utilities/units

$w-design:    1536px;
$w-imac:      1440px;
$w-macbook:   1280px;
$w-ipad:      1024px;
$w-portrait:  768px;
$w-iphone:    640px;

$nav-breakpoint: 1280px;

$cubic:       cubic-bezier(0.070, 0.505, 0.335, 0.995);
