// General
//------------------------------------------------------------------------------

$max-menu-items: 15;
$max-about-items: 3;

// Type
//------------------------------------------------------------------------------

$base-font-size: 16px; // Used to set intial rem scale in utilities/units

// Colors
//------------------------------------------------------------------------------

$accent: #FF4828;
$accent-l: #FF6C53;
$dark: #232122;
$dark-l: #4F4D4E;
$black: #000000;
$grey: #EDEDED;
$white: #FFFFFF;

// Sizes
//------------------------------------------------------------------------------

$w-design:    1536px;
$w-imac:      1440px;
$w-macbook:   1280px;
$w-ipad:      1024px;
$w-portrait:  768px;
$w-iphone:    640px;

$nav-breakpoint: 1280px;

$cubic:       cubic-bezier(0.070, 0.505, 0.335, 0.995);

// Transition
//------------------------------------------------------------------------------
$cubic:       cubic-bezier(0.070, 0.505, 0.335, 0.995);
$transition: 1s $cubic;
