#about{
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top:0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background:$black;
  color: white;
  overflow-y: scroll;
}

.about--wrap{
  max-width: $row-width;
  margin: 0 auto;
  padding: 0px rem(20px);
}

.about--title{
  font-size:rem(100px);
  line-height: rem(70px);
  margin:rem(50px) 0px rem(100px) 0px;
}

.about-open{
  #about{
    visibility: visible;;
    opacity: 1;
  }
}

.about--list{
  @extend .about--wrap;
  transition: $transition;
  & h3{margin-bottom: rem(25px);}
  & p{font-weight: normal; font-size:16px; line-height: 25px;}
  & a{
    color:white;
    border-bottom: 3px solid $accent;
    box-shadow: inset 0 -5px 0 $accent;
    transition: background .15s cubic-bezier(.33,.66,.66,1);
    &:hover{background: $accent;}
  }
  & > li{
    float: left;
    transition: $transition;
    width: 33.33333%;
    padding: rem(24px);
    transform: translateY(rem(50px));
    opacity: 0;
  }
}

.about--item{
  display: block;
  padding: rem(24px);
  height: 443px;
  position: relative;
  transition: $transition;
}

.about--item-description{
  position: absolute;
  bottom: rem(24px);
  width: 75%;
  font-size: rem(20px);
  color:$dark;
  @extend .text--small;
}

.about--item-title{
  @extend .text-small;
  color:$white;
  font-size:rem(25px);
  line-height: rem(33px);
  letter-spacing: rem(0.5px);
  & span{
    color: $dark;
  }
}

.show-items{
  .about--list{
    & li{
      transform: translateY(rem(0px));
      opacity: 1;
      transition: inherit;
    }
  }
}

.about-widget{
  position: fixed;
  bottom: rem(8px);
  left: rem(8px);
  width: 50px;
  height: 50px;
}

.about--person-name{
  font-weight: normal;
  font-size:20px;
  margin-top: 15px;
}

.about--person-title{
  @extend .title--text;
  color:$dark-l;
  & a {
    border-bottom:1px dotted $dark-l;
    box-shadow: inherit;
    color:$dark-l;
    &:hover{
      background:none;
    }
  }
}

.about--copy{
  @extend .title--text;
  color:$dark-l;
  font-size:rem(12px);
  margin-top:rem(16px);
}

.social--list{
  width: 100%;
  display: block;

  & > li{
    float: left;
    & a {
      border-bottom:1px dotted $dark-l;
      box-shadow: inherit;
      line-height:rem(45px);
      width: rem(45px);
      height: rem(45px);
      background:$dark-l;
      border-radius: 50%;
      margin-right:rem(25px);
      text-align: center;
      color:black;
      display: block;
      &:hover{
        background:$dark-l;
        opacity: 0.8;
      }
    }
  }
}
